<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392557821399-rek9gtka6jim1gk2mq9kesdcarbf1jhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392557821399-rek9gtka6jim1gk2mq9kesdcarbf1jhb</string>
	<key>API_KEY</key>
	<string>AIzaSyANJN1Y0mOEuMeRiklIXG4kc4EzhBGfJho</string>
	<key>GCM_SENDER_ID</key>
	<string>392557821399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vinayApp</string>
	<key>PROJECT_ID</key>
	<string>vinay-app-f709a</string>
	<key>STORAGE_BUCKET</key>
	<string>vinay-app-f709a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392557821399:ios:9a6cea2f1495e2cfc55f92</string>
</dict>
</plist>